.login-header {
   padding-top: 70px;
   text-align: center;
}

.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 400px;
}

.login-table {
   width: 500px;
   border-radius: 5px;
   background-color: #f2f2f2;
   font-size: 1rem;
   line-height: 2rem;
}

input[type=text], input[type=password] {
   width: 300px;
   font-size: 1rem;
}